<!-- 
    ======================================== 
        Footer Section
    ========================================
    -->
    <footer id="footer" class="footer-layout-two">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <a href="#" class="footer-logo"><img src="/img/logo.png" alt="Cebu Home Pages"  data-rjs="3"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-form">
                            <form>
                                <input type="email" name="email" placeholder="Enter Your Email">
                                <button type="submit" class="footer-submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row mb-70">
                    <div class="col-md-2">
                        <div class="footer-widget">
                            <h4>Properties</h4>
                            <ul class="list-footer">
                                <li><a href="#">Commercial</a></li>
                                <li><a href="#">House</a></li>
                                <li><a href="#">Residential</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Residential Tower</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-widget">
                            <h4>About Us</h4>
                            <ul class="list-footer">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Conditions</a></li>
                                <li><a href="#">User's Guide</a></li>
                                <li><a href="#">Support Center</a></li>
                                <li><a href="#">Press Info</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-widget">
                            <h4>Quick Links</h4>
                            <ul class="list-footer">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Our Features</a></li>
                                <li><a href="#">Our Benifits</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-widget">
                            <h4>Partner Sites</h4>
                            <ul class="list-footer">
                                <li><a href="#">news.com.au</a></li>
                                <li><a href="#">foxsports.com.au</a></li>
                                <li><a href="#">homeguru.com.au</a></li>
                                <li><a href="#">realestate.co.nz</a></li>
                                <li><a href="#">mensionglobe.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h4>Location</h4>
                            <div class="map-image">
                                <div id="map-footer" style="height: 210px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="international-sites">
                    <h6>International Sites:</h6>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">China</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Malaysia</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Singapore</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Hong Kong</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Indonesia</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Thailand</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Philippines</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Bangladesh</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">Sri Lanka</a></li>
                        <li class="list-inline-item"> - &nbsp; <a href="#">England</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p class="mb-0">Copyright &copy; 2021. Proudly powered by <a href="{{ site.lmic.url }}">{{ site.lmic.name }}</a></p>
                    </div>
                    <div class="col-md-4 text-right">
                        <ul class="list-inline footer-social">
                            <li class="list-inline-item">
                                <a href="{{ site.facebook }}"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>