 <!-- Scripts -->
 <script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
 <script src="/lib/jquery-3.4.1.min.js"></script>
 <script src="/lib/jquery-ui.min.js"></script>
 <script src="/lib/bootstrap/js/popper.min.js"></script>
 <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
 <script src="/lib/counterup/waypoints.min.js"></script>
 <script src="/lib/counterup/jquery.counterup.min.js"></script>
 <script src="/lib/fancybox/jquery.fancybox.min.js"></script>
 <script src="/lib/Menuzord/js/menuzord.js"></script>
 <script src="/lib/isotope/isotope.min.js"></script>
 <script src="/lib/aos/aos.js"></script>
 <script src="/lib/retina/retina.min.js"></script>
 <script src="/lib/slick/slick.min.js"></script>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFxhUVMwiYKz3ii7f3PL1_YYih3fOtg-M"></script>
 <script src="/lib/maps/footer-map.js"></script>

 <!-- Custom Scripts -->
 <script src="/js/behome.js"></script>
 <script src="/js/slider.js"></script>