<!-- Off Canvas  -->
<div id="mySidenav" class="sidenav">
    <div class="sidenav-menu" id="innar-side">
        <a href="#" class="closebtn bg-orange"><i class="flaticon-cancel"></i></a>
        <div class="side-form">

            <img src="/img/logo-red.png" alt="Cebu Home Pages" data-rjs="3">
            <h4 class="pt-4 text-left">Welcome to Cebu Home Pages</h4>
            <p class="my-0 pb-5 pt-0 text-left">Websites in professional use templating systems. Commercial platforms.</p>
            <a href="#" class="button button-primary button-rounded">Contact Now</a>
        </div>
        <ul class="sidenav-list">
            <li class="mt-5">
                <h5 class="pb-2">Contact Info</h5>
                <div class="info-list d-flex">
                    <div class="icon">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <div class="content">
                        <p>123 Benton, Savannah, GA, USA</p>
                    </div>
                </div>
                <div class="info-list d-flex">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="content">
                        <p>hello@wpequal.com</p>
                    </div>
                </div>
                <div class="info-list d-flex">
                    <div class="icon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="content">
                        <p>+1 923 457 4823</p>
                    </div>
                </div>
                <div class="info-list d-flex">
                    <div class="icon">
                        <i class="fas fa-calendar-check"></i>
                    </div>
                    <div class="content">
                        <p>Friday-Wednesday: 9.00AM to 5.00PM</p>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="#" class="color-facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="color-twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="color-dribbble"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="#" class="color-youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>