---
layout: none
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include favicon.html %}
    {% include stylesheet.html %}

    <title>{{ site.title }}</title>

    {% include seo.html %}
</head>

<body>

    {% include back-to-top.html %}
    

    {% include header.html %}

    {{ content }}

    {% include footer.html %}


   {% include scripts.html %}

    {% include side-off-canvas.html %}

</body>
</html>